{
  "notion_tokens": [
    {
      "token": "YOUR_NOTION_TOKEN_HERE",
      "databases": [
        {
          "id": "YOUR_DATABASE_ID_HERE",
          "recipients": ["email1@example.com", "email2@example.com"]
        }
      ]
    }
  ],
  "smtp": {
    "host": "smtp.gmail.com",
    "port": 587,
    "user": "your-email@gmail.com",
    "pass": "YOUR_APP_PASSWORD_HERE"
  }
}